include navigation.pug
  h3 iFunnymeme | Followers : #{iFunnymemeInfo.followers}
  table  
    tr(class="tableHeader")
      th
        p 1 Hour
      th
        p 3 Hours
      th
        p 12 Hours
      th
        p 24 Hours
    tr
      td
        span $60
      td
        span $150
      td
        span $175
      td
        span $200
  h3 Firstscenes | Followers : #{FirstscenesInfo.followers}
  table
    tr(class="tableHeader")
      th
        p 1 Hour
      th
        p 3 Hours
      th
        p 12 Hours
      th
        p 24 Hours
    tr
      td
        span $60
      td
        span $150
      td
        span $175
      td
        span $200
  h3 Waltdisney1901 | Followers : #{Waltdisney1901Info.followers}
  table  
    tr(class="tableHeader")
      th
        p 1 Hour
      th
        p 3 Hours
      th
        p 12 Hours
      th
        p 24 Hours
    tr
      td
        span $60
      td
        span $150
      td
        span $175
      td
        span $200
  h3 video.stylist | Followers : #{videostylistInfo.followers}
  table  
    tr(class="tableHeader")
      th
        p 1 Hour
      th
        p 3 Hours
      th
        p 12 Hours
      th
        p 24 Hours
    tr
      td
        span $60
      td
        span $150
      td
        span $175
      td
        span $200
  //- ul.flex-container
  //-   - for (var i = recentMedia.length - 1; i >= 0; --i) {
  //-             li.flex-item 
  //-               img(src=recentMedia[i].images.thumbnail.url)
  //-               table
  //-                 tr
  //-                   th
  //-                     span Likes: #{recentMedia[i].likes.count}
  //- 
  //-   -}
            

script(src="index.js")
      
