include navigation.pug
  img(src=searchData.profile_picture)
  h3 Welcome to #{searchData.username}
  table  
    tr(class="tableHeader")
      th
        p Followers
      th
        p Following
      th
        p Media
      th
        p User ID
    tr
      td
        span #{searchData.counts.followed_by}
      td
        span #{searchData.counts.follows}
      td
        span #{searchData.counts.media}
      td
        span #{searchData.id}
      
