include navigation.pug
  #Profile
    img(style="width:120px;height:120px" src=searchData.profile_picture)
    span @#{searchData.username}
  table  
    tr(class="tableHeader")
      th
        p Followers
      th
        p Follows
      th
        p Media
      th
        p User ID
    tr
      td
        span #{searchData.counts.followed_by}
      td
        span #{searchData.counts.follows}
      td
        span #{searchData.counts.media}
      td
        span #{searchData.id}
  ul.flex-container
    - for (var i = recentMedia.length - 1; i >= 0; --i) {
              li.flex-item 
                img(src=recentMedia[i].images.thumbnail.url)
                table
                  tr
                    th
                      span Likes: #{recentMedia[i].likes.count}
                      
    -}
            

script(src="index.js")
      
