include navigation.pug
  #Profile
    img(style="width:120px;height:120px" src=searchData.profile_picture)
    span @#{searchData.username}
  table  
    tr(class="tableHeader")
      th
        p Followers
      th
        p Following
      th
        p Media
      th
        p User ID
    tr
      td
        span #{searchData.counts.followed_by}
      td
        span #{searchData.counts.follows}
      td
        span #{searchData.counts.media}
      td
        span #{searchData.id}
      
